main, body, html{
  height: 100%;
  margin: 0;
  font-size: 22px;
  font-family: 'Special Elite', cursive;
  font-weight: 700;
  line-height: 1.8em;
  color: #fff;
  
}

.section {
  text-align: center;
  padding: 50px 80px;
  background:linear-gradient(to right,rgba(255, 0, 0, 0.769), rgba(255, 166, 0, 0.769) , rgba(255, 255, 0, 0.749), rgba(0, 128, 0, 0.728), rgba(0, 255, 255, 0.749), rgba(0, 0, 255, 0.735), rgba(238, 130, 238, 0.776));;
  /* opacity: .9; */
  text-shadow: 2px 1px black;
  z-index: 10;
  position: relative;
}

.image {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 10;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#title {
  font-size: 70px;
}

.text .border {
  background-color: transparent;
  padding: 15px;
}

#img1 {
  background-image: url('../images/pt1.jpeg');
  height: 100%;
}

#img2 {
  background-image: url('../images/pt2.jpeg');
  min-height: 800px;
}

#img3 {
  background-image: url('../images/pt3.jpeg');
  min-height: 800px;
}

#img4 {
  background-image: url('../images/pt4.jpeg');
  min-height: 800px;
}

#img5 {
  background-image: url('../images/pt5.jpeg');
  min-height: 800px;
  position: relative;
}

/* #img5 .smoke {

} */

#img6 {
  background-image: url('../images/pt6.jpeg');
  min-height: 800px;
}

#img5, #img6, #img7, #img8 {
  z-index: 0;
}

#img7 {
  background-image: url('../images/pt7.jpeg');
  min-height: 800px;
}

#img8 {
  background-image: url('../images/pt8.jpeg');
  min-height: 800px;
}

#img9 {
  background-image: url('../images/pt9.jpeg');
  min-height: 100%;
}


/*PRACTICE SMOKE*/

/* Smoke container */

.image .smoke {
  position: fixed;
  z-index: 5;
  width: 1px;
  height: 160px;
  left: 44.3%;
  bottom: 32%;
}

/* smoke balls */

.smoke span { 
  display: block;
	position: absolute;
	bottom: -35px; left: 50%; margin-left:-20px;
	height: 0px; width: 0px;
	border: 35px solid #c6c6c6;
	border-radius: 50px;
	left: -14px; opacity: 0;
	transform: scale(0.2);
}

/* Smoke animation */

@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

.smoke .s0 { animation: smokeL 10s 0s infinite }
.smoke .s1 { animation: smokeR 10s 1s infinite }
.smoke .s2 { animation: smokeL 10s 2s infinite }
.smoke .s3 { animation: smokeR 10s 3s infinite }
.smoke .s4 { animation: smokeL 10s 4s infinite }
.smoke .s5 { animation: smokeR 10s 5s infinite }
.smoke .s6 { animation: smokeL 10s 6s infinite }
.smoke .s7 { animation: smokeR 10s 7s infinite }
.smoke .s8 { animation: smokeL 10s 8s infinite }
.smoke .s9 { animation: smokeR 10s 9s infinite }

